*{
    box-sizing: border-box;
    margin:0;
    color:white;
}

main {
    display:flex;
    flex-direction: column;
    width: 100vw;
    height:100vh;
    align-items: center;
    justify-content: end;
    padding-bottom: 1rem;
    background-color: rgba(26, 171, 176, 0.728);
}

.drops{
    display: flex;
    height: 10vh;
    align-items: flex-end;
    justify-content:center;
}

.drop {
    height:12vh;
    width:12vh;
    margin-left: 1vh;
    translate: -.5vh;
    opacity: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

/* temporary, need a better animation eventually */
.drop:hover{
    cursor: pointer;
    display:flex;
    opacity:100%;
    color: rgba(0, 0, 0, 0.38);
}


#game-board{
    display:grid;
    grid-template-columns: repeat(7, 12vh);
    grid-template-rows: repeat(6, 12vh);
    gap: 1vh;
}

.cell {
    display: flex;
    background-color: rgba(0, 0, 0, 0.564);
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: .5rem;
}

.red {
    color:red
}

.yellow{
    color:yellow
}

.hide{
    display:none !important
}

.fade{
    opacity: 70%;
}

.endgame {
    display: flex;
    height:100vh;
    width:100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0rem;
    background-color: rgba(26, 171, 176, 0.728);
}

.endgame button {
    background-color: rgba(26, 171, 176, 0.728);
    border-radius: .5rem;
}

.endgame button:hover{
    box-shadow: 0 0 5px 1px black;
    cursor: pointer;
}
